extends layout.pug
block content
	.form
		h1= 'Восстановление пароля'
		.input-form
			input#email(type='email', placeholder='Введите почту указанную при регистрации')
		.input-form
			input#submit(type='submit', value='Восстановить пароль')