doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title= title
		link(rel='stylesheet', href='/files/styles/login.css')
		link(rel='stylesheet', href='/files/styles/schedule.css')
		link(rel='stylesheet', href='/files/styles/Css_News.css')
	body
		include navbar.pug
		block content
		script(src='/files/scripts/auth.js')
		script(src='/files/scripts/css_script.js')