doctype html
html(lang='ru')
head
	meta(charset='utf-8')
	title= title
	link(rel='stylesheet', href='/files/styles/login.css')
	link(rel='stylesheet', href='/files/styles/schedule.css')
body
	include navbar.pug
	block content