nav
	.nav_left
		img.logo(src='files/images/your_logo.png')
		a(href='#')
			img(src='files/images/message.png')
		a(href='#')
			img(src='files/images/notification.png')
		a(href='#')
			img(src='files/images/video.png')
	.nav_right
		.search-box
			img(src='files/images/search.png', alt='search_img')
			input(type='text', placeholder='Поиск')
		.nav-user-icon.online
			img(src='files/images/profile-pic.png')