nav
	.nav_left
		img.logo(src='/files/images/logo3.png')
	a.nav-button(href='/main/news')= 'Новости'
	.nav_right
		.search-box
			img(src='/files/images/search.png', alt='search_img')
			input(type='text', placeholder='Поиск')
		.nav-user-icon.online#settings-menu(onclick='settingsMenuToggle();')
			img(src='/files/images/profile-pic.svg')
	.settig-menu
			.setting-menu-inner
				if user
					.user-profile
						img(src='/files/images/profile-pic.png')
						div
							p= user.fullname
							a(href='#')= user.login
					hr
				.user-profile
					img(src='/files/images/profile-study.png')
					div
						p Расписание
						a(href='/schedule') Здесь вы можете посмотреть расписание своей группы
				hr
				.settings-links
					img.settings-icon(src='/files/images/group.png')
					a(href='/profile')
						| Профиль 
						img(src='/files/images/arrow.png' width='10px')
				.settings-links
					img.settings-icon(src='/files/images/feedback.png')
					a(href='/main/news')
						| Новости
						img(src='/files/images/arrow.png' width='10px')
				.settings-links
					img.settings-icon(src='/files/images/logout.png')
					a(href='/signin')
						| Вход
						img(src='/files/images/arrow.png' width='10px')
				.settings-links
					img.settings-icon(src='/files/images/logout.png')
					a(href='/signup')
						| Регистрация
						img(src='/files/images/arrow.png' width='10px')
