extends layout.pug
block content
  .form
    h1= 'Вход'
    .input-form
      input#login(type='text' placeholder='Логин')
    .input-form
      input#password(type='password' placeholder='Пароль')
    .input-form
      input#submit(type='submit', value='Войти', onclick='signin();')