.frame0{
    display: flex;
    align-items: stretch;
    margin: 40px  20px;

}

.frame1{
    width: 50%;
    margin: 40px  20px;
    border-radius: 6px;
    border: 4px solid #786dc1;

}

.frame2{
    width: 50%;
    margin: 40px  20px;
    border-radius: 6px;
    border: 4px solid #786dc1;

}

.count {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

@font-face {
    font-family: Pompadur; /* Имя шрифта */
    src: url(fonts/RobotoCondensed-Italic.ttf); /* Путь к файлу со шрифтом */
}
.h4 {
    font-family: RobotoCondensed-Italic, serif;
}
.text-1{
    font-family: RobotoCondensed-Italic, serif;
}