* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
    
}

.body {
    background: #efefef;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1876f2;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-button {
    position: relative;
    display: inline-block;
    height: inherit;
    text-decoration: None;
    color: #eee;
    font-size: 24px;
    left: -30%;
    font-family: Tahoma;
}

.logo {
    width: 110px;
    margin-right: 45px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-left ul li {
    list-style: none;
    display: inline-block;   
}

.nav-left img {
    width: 28px;
    margin: 0 15px;
}

.nav-user-icon img{
    width: 60px;
    border-radius: 60% ;
    cursor: pointer;
}

.nav-user-icon {
    margin-left: 30px;
    display: inline-flex;
    top:  4px;
}

.search-item {
    position: relative;
    display: inline-flex;
}


.search-box {
    background: #efefef;
    width: 330px;
    height: 35px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    padding: 0 15px;
    position: relative;
    bottom: 15px;
}

.search-box img {   
    width: 18px;
}

.search-box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.nav-right-item {
    display: inline-block;
    /*padding: 0;*/
}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41bd51;
    position: absolute;
    top: 0;
    right: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

.left-sidebar {
    background: #cbdffa;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    height: 100vh;
}

.right-sidebar {
    background: #cbdffa;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    height: 100vh;
}

.main-content {
    width: 20%;
    flex-basis: 47%;
    background: #fff;
    margin: 0 auto;
}

.write-post-container {
    width: 93%;
    background: #bdd0db;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px; 
}

.user-profile p {
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}

.user-profile small {
    font-size: 12px;
}


.post-input-continer {
    padding-left: 55px;
    padding-top: 20px;
}

.post-input-continer textarea {
    width: 80%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #000;
    background: transparent;
    resize: vertical;
    max-height: 400px

}

.post-container {
    width: 93%;
    background: #f1f5f7;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}

.user-profile span{
    font-size: 13px;
    color: #9a9a9a;
}

.post-text {
    word-wrap:break-word
    width:100px;
    white-space:'normal';
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
}

.post-text span{
    color:#626262;
    font-weight: 500;
}

.post-text {
    /*color: #1876f2; green blue black*/
    text-decoration: none;
}

.post-text-red {
    color: red;
}

.post-text-green {
    color: green;
}

.post-text-blue {
    color: blue;
}

.post-text-black {
    color: black;
}

.post-img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}

.settig-menu {
    position: absolute;
    width: 90%;
    max-width: 350px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height: 0px;
    transition: max-height 0.3s;
}

.settig-menu-h {
    max-height: 450px;
}

.user-profile a {
    font-size: 12px;
    color: #1876f2;
    text-decoration: none;   
}

.setting-menu-inner {
    padding: 20px;
}

.settig-menu hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}

.settings-links {
    display: flex;
    align-items: center;
    margin: 15px 0;
    
}

.settings-links .settings-icon {
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}

.settings-links a {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}

@media screen and (max-width: 1000px) {
    .nav-button {
        left: -12%;
    }

    .search-box {
        /*display: block;*/
        width: 100px;
        position: relative;
        /*right: 50px;*/
    }

    .main-content {
        width: 440px;
        margin: 0 auto;
    }

    .container {
        padding: 0;
    }

    .search-box {
        display: none;
    }
}