html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar {
    display: none;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.buttons {
    padding: 24px 0;
}
.buttons__flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons__button {
    cursor: pointer;
    color: #fff;
    background: #b4b0f8;
    height: 60px;
    display:inline-block;
    padding: 0 32px;
}
.buttons__button:not(:last-child) {
    margin-right: 24px;
    display:inline-block;
}

.modal { /* начальные стили */
    visibility: hidden; /* скрываем модальное окно */
    opacity: 0; /* делаем прозрачным */
    position: fixed; /* делаем блок фиксированным */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: rgba(18,18,18,0.8); /* фон для затемнения */
    z-index: 9999; /* перекрываем все элементы */
    transition: visibility 0s 0.25s, opacity 0.25s; /* добавляем для плавного перехода */
}
.modal_active { /* активный класс модального окна */
    opacity: 1; /* убираем прозрачность */
    visibility: visible; /* отображаем блок модального окна */
    transition: visibility 0s 0s, opacity 0.25s; /* добавляем для плавного перехода */
}
.modal__wrapper { /* блок обертка для центрирования контентной части модального окна */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.modal__body { /* еще один блок обертка для возможности прокрутки контента, если модальное окно не помещается по высоты */
    overflow-y: auto; /* добавляем полосу прокрутки при недостаточной высоте */
    position: relative;
    margin: 0 24px; /* боковые отступы для мобильных экранов */
    max-height: 100%;
    max-width: 380px;
    -ms-overflow-style: none; /* скрываем полосу прокрутки */
    scrollbar-width: none; /* скрываем полосу прокрутки */
}
.modal__body::-webkit-scrollbar { /* скрываем полосу прокрутки */
    display: none;
}
.modal__inner { /* стилизуем контентную часть */
    display: flex;
    flex-direction: column;
    background: #3626a7;
    width: 100%;
    height: 100%;
    padding: 64px 24px;
    align-items: center;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    position: relative;
    margin: 24px 0; /* отступы сверху и снизу, чтобы контентная часть модального окна не прилипала к границам браузера при недостаточной высоте */
}
.modal__close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    font-size: 14px;
}
.modal__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 24px;
}
.modal__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
@media (max-width: 575.98px) {
    .buttons__flex {
        flex-direction: column;
    }
    .buttons__button:not(:last-child) {
        margin-right: 0;
        margin-bottom: 24px;
    }
    .images {
        grid-template-columns: 1fr;
    }
}

